html {
	height: 100%;
	background-image: url(katt_solnedg.jpg);
	background-size: cover;
	background-repeat:no-repeat;
}
#container{
	max-width: 960px;
	border: black solid 2px;
}
#content{
	width: 60%;
	margin: auto auto;
	border: green solid 2px;
	padding: 0.5em;
}
#messageInput, #messageOutput {
	background-color: #F2CEA2;
	opacity: 0.8;
	padding: 0.5em;
	}
textarea{
	width: 97%;
	margin: auto;
}
#counter{
	color: silver;
	background-color: #425059;
	opacity: 0.7;
}
h1{
	color: silver;
}
p{
	border: inset 0.1em silver;
	font-family: monospace;
	padding: 0.5em;
}
