html {
	background-color: maroon;
}
#container{
	max-width: 960px;
	border: black solid 2px;
}
#content{
	width: 60%;
	margin: auto auto;
	border: green solid 2px;
	padding: 0.5em;
}
#messageInput {
	background-color: #fff;
	padding: 0.5em;
	}
textarea{
	width: 97%;
	margin: auto;
}
h1{
	color: silver;
}
